# Node modules
node_modules/

# Public directory
public/

# Compiled source
.built/

surviv.js
surviv2.js
bitheroes.js
*.json.hidden

# Package managers
# NPM
package-lock.json

# Yarn v3
.pnp.*
.yarn/*
yarn.lock

# pNPM
pnpm-lock.yaml
